<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h2>Shift Confirmation</h2>
    
    <p>
    	This is to inform you that the shift below has been confirmed. 
    </p>

  <h2>Shift Details</h2>  
	<%= render partial: "shift" %>

  <% 
    @profile = @user.profile
    if @profile.present? 
  %>
    </br>
    </br>
    <h2>Nurse Profile</h2>
    <%= render partial: "profile" %>
  <% end %>
    
  </body>
</html>